/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../
 *= require_self
 */

body {
  background-color: #000000;
}

.clear {
  clear: both;
}

footer {
  background: linear-gradient(transparent, rgba(0,0,0,0.8)); //#2B2B2A);
  //margin-top: -150px;
  padding: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -150px;
  height: 150px;

  .copyright {
    text-align: center;
  }
  .copyright p {
    margin-top: 15px;
    font-size: 16px;
  }
  .copyright ul {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
  }
  .copyright li {
    padding: 50px 15px 0px 15px;
  }
  .layoutFooter {

  }
  .logo {
    background: image_url("public/logonordlit.jpg");
    width: 100%;
    height: 55px;
    background-repeat: no-repeat;
    margin-left: 37px;
    margin-top: 47px;
    background-size: 250px;
    text-align: center;
    @media screen and (max-width:845px) {
      background-size: 200px;
      margin-left: 20%;
    }
  }
  @media screen and (max-width:845px) {
    margin-top: -230px;
    height: 230px;
    .copyright p {
      font-size: 13px;
    }
  }
}

.menu-top {
  padding-right: 1.8%;
}