// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

h1 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}


.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;

}

.btn_bet {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;

}

.btn-circle_match {
  width: 110px;
  height: 110px;
  margin-top: 5px;
  padding: 35px 0px;
  border-radius: 100% !important;
  font-size: 25px;
  color: white;
  background: #fe001a;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover,
  &:focus {
    outline: none;
    color: white;
    background: rgba(white, 0.1);

  }
  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  &:hover {
    i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }
  @media(max-width:768px) {
    width: 70px;
    height: 70px;
    padding: 0;
    color: transparent;
    &:hover {
      color: transparent;
    }
  }
}

.form_match {
  height: 100%;
  width: 100%;
  background: image_url("public/euroTrophee.png") no-repeat bottom center scroll;
  background-size: cover;

  .betDesc {
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 25px;
    margin-right: 12px;
    height: 35px;
  }

  .betDesc p {
    color: black;
    font-weight: bold;
  }

  .encartLastBet {
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    height: 160px;
    margin: 25px 25px 30px 25px;
    border: 1px solid whitesmoke;
  }

  .filterMatchSect {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .flags {
    vertical-align: middle;
  }

  img.flags {
    vertical-align: middle;
    height: auto;
    width: 73%;
  }

  .left img {
    float: left;
  }

  .right img {
    float: right;
  }

  .inheritFlag {
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle;
    @media(max-width:768px) {
      margin-top: 20px;
      vertical-align: middle;
    }
  }

  .lastBet {
    width: 100%;
    height: 100%;
  }

  .lastBets {
    padding-top: 100px;
  }
}

.result {
  height: 100%;
  width: 100%;
  background: image_url("public/stade.png") no-repeat bottom center scroll;
  background-size: cover;

  .content-section {
    padding-top: 100px;
  }
  .filtre_result {
    height: 100%;
    width: 100%;
    background: image_url("public/pattern-grid.png") repeat;
    background-size: 3px;
    background-color: rgba(192,192,192,0.3);
  }
  .panel-table {
    background-color: rgba(0,0,0,0.5);
  }
}

.team {
  height: 50%;
  width: 100%;
}





