// Place all the styles related to the match controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.advertising {
  background-color: orange;
  margin-top: 100px;
}

.matchs, .team, .players {
  //padding:50px 0 50px 0;
  .half-advertising {
    background-color: orange;
    height: 100px;
  }
}

.matchs{
  background-color: #102061;
}

.match-row-score {
  text-align: center;
}

.partners {
  background-color: green;
  height: 100px;
}

.players {
  background-color: white;
  color: black;
  padding: 0px;
}

.team {
  background-color: white;
  color: black;
  padding: 0px;
}