.advertising {
  background-color: orange;
  margin-top: 90px;
}

.player, .matchs, .team {
  .block-title {
    margin: 20px 0 10px;
  }
}

.player, .team {
  .half-advertising {
    background-color: orange;
    height: 100px;
  }
}

.player {
  background-color: white;
  color: black;
  .half-player {
    .players {
      padding-bottom: 15px;
      img {
        border-radius: 50px;
        width: 50px;
        margin-right: 15px;
      }
    }
  }
}

.matchs{
  background-color: #102061;
  .row {
    margin: 10px;
    .match-row-score {
      text-align: center;
      .team-1, .team-2 {
        display: inline-block;
        span {
          margin: 0 10px;
          font-size: 1.1em;
        }
        img {
          border-radius: 50px;
          width: 50px;
        }
      }
      .hour-match {
        margin: 0 40px;
      }
    }
  }
}

.team {
  background-color: white;
  color: black;
  .half-team {
    .teams {
      padding-bottom: 15px;
      img {
        border-radius: 50px;
        width: 50px;
        margin-right: 15px;
      }
    }
  }
}

.partners {
  background-color: green;
  height: 100px;
}
