<!-- Intro Header -->
<header class="intro">
  <div class="contain" >
    <div class="intro-body">
            <div class="text_home" >
              <h1 class="brand-heading">Bienvenue  </h1>
              <p class="intro-text">sur la plateforme de paris EURO 2016  <br>de l'Avenir de l'artois</p>
                <i class="fa fa-angle-double-down animated"></i>
            </div>
    </div>
  </div>
</header>


<div class ="form_match">
  <section id="nextMatch" class="content-section text-center">

      <div class="container">
        <div class="truc">
        <%= image_tag("public/france.png", :class => "image_left", :width => "200px", :height => "133px")%> <%= image_tag("public/england-flag.jpg", :class => "image_right", :width => "200px", :height => "133px") %>
        <a href="" class="btn btn-circle_match "><i class="fa fa-github fa-fw"></i> <span><b>Parier</b></span></a><br />
          <b>Vendredi 10 Juin 2016 <br />
            Stade de France <br />
            20h45 </b>
        </div>
      <div class="infos_match">

      </div>
    </div>


  </section>
</div>


<!-- Resultat Section -->

  <div class="result">
    <div class="filtre_result">
    <section id="resultats" class="content-section text-center">
      <h2>Résultats</h2>
        <div class="col-lg-8 col-lg-offset-2">
          <table class="table panel-table" style="overflow-y: hidden; text-align: center">
            <thead>
            <tr>
              <th style="text-align: center"><b>Date</b></th>
              <th style="text-align: center"><b>Phase</b></th>
              <th style="text-align: center"><b>Match</b></th>
              <th style="text-align: center"><b>Score</b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>10/06/16</td>
              <td>1/8</td>
              <td>France - Ukraine</td>
              <td>3-2</td>
            </tr>
            <tr>
              <td>10/06/16</td>
              <td>1/8</td>
              <td>France - Ukraine</td>
              <td>3-2</td>
            </tr>
            </tbody>
          </table>
          <a href="/results" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Voir plus</span></a>
        <!-- 51 matchs -->

      </div>
    </section>
  </div>
</div>

<!-- Connexion Section
<section id="Connexion" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Start Bootstrap</h2>
      <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
      <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<!-- Map Section -->



<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>