<!-- Intro Header -->
<header class="intro">
  <div class="contain" >
    <div class="intro-body">
            <div class="text_home" >
              <h1 class="brand-heading">Bienvenue  </h1>
              <p class="intro-text">sur la plateforme de paris EURO 2016  <br>de l'Avenir de l'artois</p>
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
    </div>
  </div>
</header>

<!-- Next Match section -->
<section id="nextMatch" class="container content-section text-center">
  <div class="form_match">
    <!-- REQUETE en base pour afficher l'icone de l'équipe -->
    <p style="float: left"><b>FRANCE</b></p> <p style="float: right"><b>UKRAINE</b></p>
    <%= image_tag("public/maillot_France.png", :class => "image_left")%> <%= image_tag("public/maillot_Ukraine.png", :class => "image_right") %>
    <button type="button" class="btn btn-circle_match" ><b>Parier</b></button>
  </div>
  <br><b>Vendredi 10 Juin 2016<br>
  Stade de France<br>
  20h30</b>
  <!-- Remplacer ces infos par les infos de la BDD -->
</section>

<!-- Resultat Section -->
<section id="resultats" class="content-section text-center">
  <h2>Résultats</h2>
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">

      </div>
    </div>
  </div>
</section>

<!-- Connexion Section
<section id="Connexion" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Start Bootstrap</h2>
      <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
      <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; Your Website 2014</p>
  </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>