


<section class="result">
  <div class="filtre_result">
    <div id="resultats" class="content-section container text-center">
      <h2>Résultats</h2>
        <div class="col-lg-12 scroll">
          <table class="table panel-table table_result">
            <thead>
              <tr>
                <th style="text-align: center"><b>Date</b></th>
                <th style="text-align: center"><b>Phase</b></th>
                <th style="text-align: center"><b>Match</b></th>
                <th style="text-align: center"><b>Score</b></th>
              </tr>
            </thead>
            <tbody>
              <div >
                <% for i in 0..51 %> <!-- Au total, 51 matchs -->
                  <tr> <!-- Remplir ici avec les Data -->
                    <td>10/06/16</td>
                    <td>1/8</td>
                    <td>France - Ukraine</td>
                    <td>3-2</td>
                  </tr>
              </div>
                <% end;%>
            </tbody>
          </table>
      </div>
  </div>
 </div>
</section>