<section class="rules-page">

  <div class="rules-content container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 rules-container">

        <h1 class="rules-main-title">Règlement</h1>
        <div class="rules rule-1">
          <h3 class="rule-title">Lorem ipsum dolor sit amet.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
        <div class="rules rule-2">
          <h3 class="rule-title">Lorem ipsum dolor sit amet.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
        <div class="rules rule-3">
          <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
        <div class="rules rule-4">
          <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
        <div class="rules rule-5">
          <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
        <div class="rules rule-6">
          <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
        <div class="rules rule-7">
          <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
        <div class="rules rule-8">
          <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <p class="rule-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>