<section class="sitemap">
  <div class="filterEffect">
    <div class="container">
      <div class="row">

        <div class="sitemap-content col-lg-12">

          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="/">
              Home
            </a>
          </div>
          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="/match">
              Match
            </a>
          </div>
          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="/results">
              Résultats
            </a>
          </div>
          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="#">
              Profil
            </a>
          </div>
          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="/users/sign_in">
              Connexion
            </a>
          </div>
          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="/users/sign_up">
              Inscription
            </a>
          </div>
          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="#">
              Règlement
            </a>
          </div>
          <div class="link-page col-lg-4 col-md-6 col-xs-12">
            <a class="btn btn-default" href="#">
              Les lots
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>