
  <!-- Encard Pub -->
  <div class="row">
    <div class="col-xs-12 advertising">
      Encard publicité
    </div>
  </div>

  <!-- Respectivement les joueurs, les matchs, les équipes -->
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 players">
      <div class="half-player">
        <h2>Joueurs</h2>
      </div>
      <div class="half-advertising">

      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 matchs">
      <h2>Matchs</h2>
      <div class="row">
        <div class="match-row-info col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p class="group-team">Groupe A, Saint-Denis</p>
        </div>
        <div class="match-row-score col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <span class="pays-match pays-france">FRANCE</span>
          <span class="hour-match">21:00</span>
          <span class="pays-match pays-roumanie">ROUMANIE</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 team">
      <div class="half-team">
        <h2>Equipes</h2>
      </div>

      <div class="half-advertising">

      </div>
    </div>
  </div>


  <!-- Encard Partenaires -->
  <div class="row">
    <div class="col-xs-12 partners">
      Partenaires
    </div>
  </div>
