<section class="match-page">
  <!-- AD BLOCK -->
  <div class="col-xs-12 advertising">
    Encard publicité
  </div>

  <!-- PLAYERS BLOCK -->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 player">
    <div class="half-player">
      <h2 class="block-title">Joueurs</h2>
      <div class="row">
        <div class="col-xs-4 col-sm-12 col-md-12 players">
          <a href="#">
            <img src="http://lorempixel.com/200/200/" alt="player avatar">
            <span>Jerome</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 players">
          <a href="#">
            <img src="http://lorempixel.com/200/200/" alt="player avatar">
            <span>Alex</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 players">
          <a href="#">
            <img src="http://lorempixel.com/200/200/" alt="player avatar">
            <span>Timothée</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 players">
          <a href="#">
            <img src="http://lorempixel.com/200/200/" alt="player avatar">
            <span>Quentin</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 players">
          <a href="#">
            <img src="http://lorempixel.com/200/200/" alt="player avatar">
            <span>Robin</span>
          </a>
        </div>
      </div>
    </div>
    <div class="half-advertising">
    </div>
  </div>

  <!-- MATCH BLOCK -->
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 matchs">
    <h2 class="block-title">Matchs</h2>
    <div class="row">
      <div class="match-row-info col-xs-4 col-sm-12 col-md-4">
        <p class="group-team">Groupe A, Saint-Denis</p>
      </div>
      <div class="match-row-score col-xs-8 col-sm-12 col-md-8">
        <div class="team-1">
          <span class="pays-match pays-france">FRANCE</span>
          <img src="http://lorempixel.com/200/200/" alt="drapeau français">
        </div>
        <span class="hour-match">21:00</span>
        <div class="team-2">
          <img src="http://lorempixel.com/200/200/" alt="drapeau roumain">
          <span class="pays-match pays-roumanie">ROUMANIE</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="match-row-info col-xs-4 col-sm-12 col-md-4">
        <p class="group-team">Groupe A, Saint-Denis</p>
      </div>
      <div class="match-row-score col-xs-8 col-sm-12 col-md-8">
        <div class="team-1">
          <span class="pays-match pays-france">FRANCE</span>
          <img src="http://lorempixel.com/200/200/" alt="drapeau français">
        </div>
        <span class="hour-match">21:00</span>
        <div class="team-2">
          <img src="http://lorempixel.com/200/200/" alt="drapeau roumain">
          <span class="pays-match pays-roumanie">ROUMANIE</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="match-row-info col-xs-4 col-sm-12 col-md-4">
        <p class="group-team">Groupe A, Saint-Denis</p>
      </div>
      <div class="match-row-score col-xs-8 col-sm-12 col-md-8">
        <div class="team-1">
          <span class="pays-match pays-france">FRANCE</span>
          <img src="http://lorempixel.com/200/200/" alt="drapeau français">
        </div>
        <span class="hour-match">21:00</span>
        <div class="team-2">
          <img src="http://lorempixel.com/200/200/" alt="drapeau roumain">
          <span class="pays-match pays-roumanie">ROUMANIE</span>
        </div>
      </div>
    </div>
  </div>

  <!-- TEAMS BLOCK -->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 team">
    <div class="half-team">
      <h2 class="block-title">Équipes</h2>
      <div class="row">
        <div class="col-xs-4 col-sm-12 col-md-12 teams">
          <img src="http://lorempixel.com/200/200/" alt="drapeau français">
          <span>FRANCE</span>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 teams">
          <img src="http://lorempixel.com/200/200/" alt="drapeau portugais">
          <span>PORTUGAL</span>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 teams">
          <img src="http://lorempixel.com/200/200/" alt="drapeau allemand">
          <span>ALLEMAGNE</span>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 teams">
          <img src="http://lorempixel.com/200/200/" alt="drapeau russe">
          <span>RUSSIE</span>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12 teams">
          <img src="http://lorempixel.com/200/200/" alt="drapeau espagnol">
          <span>ESPAGNE</span>
        </div>
      </div>
    </div>
    <div class="half-advertising">
    </div>
  </div>

  <!-- PARTNERS BLOCK -->
  <div class="col-xs-12 partners">
    Partenaires
  </div>
</section>
