<section class="container-lots">
  <div class="title-lots col-lg-12  "> 
    <h2>A Gagner!</h2> 
  </div>

  <div class="row container-lots">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 content-text">
        <img src="http://matchclash.com/wp-content/themes/matchclash/assets/images/prix1.png" style="width:100%;">
        <p>Une <span>PS4</span></p> 
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 content-text">
        <img src="http://matchclash.com/wp-content/themes/matchclash/assets/images/prix1.png" style="width:100%;">
        <p>Une PS4</p> 
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 content-text">
        <img src="http://matchclash.com/wp-content/themes/matchclash/assets/images/prix1.png" style="width:100%;">
        <p>Une PS4</p> 
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 content-text">
        <img src="http://matchclash.com/wp-content/themes/matchclash/assets/images/prix1.png" style="width:100%;">
        <p>Une PS4</p> 
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 content-text">
        <img src="http://matchclash.com/wp-content/themes/matchclash/assets/images/prix1.png" style="width:100%;">
        <p>Une PS4</p> 
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 content-text">
        <img src="http://matchclash.com/wp-content/themes/matchclash/assets/images/prix1.png" style="width:100%;">
        <p>Une PS4</p> 
      </div>

  </div>
</section>


