<section class="row rules-page">

  <!-- Main content -->
  <div class="rules-content">
    <div class="col-xs-12 col-md-8 col-md-offset-2 rules-container">

      <h2 class="rules-main-title">Règlement</h2>
      <div class="rules rule-1">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>
      <div class="rules rule-2">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>
      <div class="rules rule-3">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>
      <div class="rules rule-4">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>
      <div class="rules rule-5">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>
      <div class="rules rule-6">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>
      <div class="rules rule-7">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>
      <div class="rules rule-8">
        <h3 class="rule-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="rule-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad architecto debitis error eum magni mollitia nobis optio perspiciatis possimus quae quas, rem rerum sit velit? Consectetur illo provident veritatis.</p>
      </div>

    </div>
  </div>

</section>